/* index.css */
:root {
  --color-primary-dark: #010a12;
  --color-primary: #020c14;
  --color-accent: #168275;
  --color-accent-light: #34958e;
  --color-accent-light-2: #3caaa3;
  --color-text: #f8f9fa;
  --color-text-secondary: #e9ecef;
  --color-background: #050e17;
  --color-card: #020d15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--color-text);
  background-color: #050e17;
  background-color: var(--color-background);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.app {
  min-height: 100vh;
}
